<h3 style="color: red">ng-Content</h3>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <app-item-card>
        <span class="tenSP">Iphone X</span>
        <span class="moTa">Bèo</span>
        <span class="GiaSP">10000</span>
      </app-item-card>
    </div>
    <div class="col-sm-4">
      <app-item-card>
        <span class="tenSP">Samsung Galaxy Y</span>
        <span class="moTa">Vừa</span>
        <span class="GiaSP">12000</span>
      </app-item-card>
    </div>
    <div class="col-sm-4">
      <app-item-card>
        <span class="tenSP">Oppo F7</span>
        <span class="moTa">Đại gia</span>
        <span class="GiaSP">15000</span>
      </app-item-card>
    </div>
  </div>
</div>
